<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}website{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    {% block styles %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <h1>The Black Market</h1>
        <ul>
            <li><a href="/templates/index.html">Home</a></li>
            <li><a href="/templates/about.html">About</a></li>
            <li><a href="/templates/guns.html">Guns</a></li>
        </ul>
    </nav>
    <br>
    <h2 class="mainContent">Welcome</h2>
    {% block content %}{% endblock %}
</body>
</html>