{% extends "base.html" %}

{% block title %}Guns Page{% endblock %}

{% block content %}
<link rel="stylesheet" href="style.css">
    <img src="{{url_for('static', filename='images/Revolver.png')}}" class="GunImages">
    <img src="{{url_for('static', filename='images/AssultRifle.png')}}" class="GunImages">
    <img src="{{url_for('static', filename='images/Shotgun.png')}}" class="GunImages">
    <img src="{{url_for('static', filename='images/SMG.png')}}" class="i">
    <img src="{{url_for('static', filename='images/Sniper.png')}}" class="i">
{% endblock %}